#lock {
    display: none;
    position: absolute;
    top: 312px;
    left: 750px;
    margin-top: -170px;
    margin-left: -269px;
    padding: 36.5px;
    background-color: lightgray; 
    border-radius: 25px;
}

#lock-set {
    padding: 23px;
    background-color: rgb(236, 225, 225);
    border-radius: 15px;
    border: 1px solid darkgray;
}

#mid-line {
    position: absolute;
    width: 23px;
    height: 2px;
    margin-top: 76px;
    margin-left: -23px;
    background: black;
}

#number-wrapper {
    background: linear-gradient(black, rgba(10, 10, 10, 0.5), black);
    border-radius: 10px;
    width: 350px;
    height: 150px;
}

.number {
    display: inline-block;
    height: 150px;
    width: 84px;
    margin-left: 15px;
    background: linear-gradient(black, lightgray, black);
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 137, 137);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2), 0 13px 10px rgba(0, 0, 0, 0.2);
}

.number-scroll {
    -webkit-user-select: none;
    padding-left: 28px;
    transition: 0.5s;
}

.number-scroll span {
    font-weight: 600;
    transition: 0.5s;
    margin-top: 0;
}

.top-number {
    transform: rotateX(50deg);
}

.bottom-number {
    transform: rotateX(-50deg);
    color: #413D3B;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2), 0 -2px 0 rgba(255, 255, 255, 0.1);
}

.first-num {
    color: black;
}

.dots {
	width: 15px;
	height: 15px;
    border-radius: 10px;   
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.8);
	background: black;
}

#lock-plate span:first-child{
    position: absolute;
	top: 18px;
	left: 18px;
}

#lock-plate span:nth-child(2){
    position: absolute;
	top: 18px;
	right: 18px;
}

#lock-plate span:nth-child(3){
    position: absolute;
    bottom: 18px;
	left: 18px;
}

#lock-plate span:nth-child(4){
    position: absolute;
    bottom: 18px;
	right: 18px;
}
