#lock {
    /* display: none; */
    position: absolute;
    top: 39%;
    left: 52%;
    margin-top: -170px;
    margin-left: -269px;
    padding: 60px 70px 60px 70px;
    background-color: lightgray; 
    border-radius: 25px;
}
