.modal { 
    display: none; 
}

.show-modal {
    position: absolute;
    bottom: 30%;
    left: 46.5%;
    justify-content: center;
    /* align-items: center; */
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-content {
    background-color: #f0f0f0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border: 1px solid white;
    border-radius: 4px;
}

.text {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
    /* display: flex; */
    /* justify-content: center; */
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    color: lightgray;
}

.modal-close:hover { 
    color: gray; 
}

.modal-button {
    font-weight: bold;
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 38%;
}