.room-images {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.dark-images {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

#roomChange {
    width: 800px;
    border: 5px solid white;
    height: 400px;
}

#second-image {
    visibility: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.room2 {
    width: 800px;
    border: 5px solid white;
    height: 400px;
}

#navLeft {
    display: flex;
    justify-content: center;
    width: 100%;
}

#lightswitch {
    position: absolute;
    top: 27%;
    left: 31%;
    /* top: 260px;
    left: 350px; */
}

#light {
    height: 22%;
    width: 22%;
    cursor: pointer;
}

