.first-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

#room1 {
    width: 800px;
    border: 5px solid white;
    height: 400px;
}

#second-image {
    visibility: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.room2 {
    /* position: absolute; */
    width: 800px;
    border: 5px solid white;
    height: 400px;
    /* background-image: url(images/room2.png); */
}

#pic {
    /* display: flex;
    justify-content: center;
    width: 100%;
    width: 800px;
    border: 5px solid white;
    height: 400px; */
}